
body{
    background-color:black;
}

.container{
    height: 90vh;
    width: 95%;
    border: 20px solid hsl(0, 0%, 20%);
    background-color: black;
    display:flex;
}

.searchpanel{
    width: 33%;
    border: 2px solid rgb(0, 255, 0);
    margin: 10px;
}

.map{
    width: 67%;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

.title{
    border: 2px solid rgb(0, 255, 0);
    height: 7%;
    padding: 5px;
    margin: 0px auto;
    width: 95%;
    
}

.titletext{
    font-size: 50px;
    color: rgb(0, 255, 0);
    margin: 0px;
    text-align:center;
}

.projectcontainer{
    width: 100%;
    height: 100%;
}

.route{
    border: 2px solid rgb(0, 255, 0);
    height: 7%;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}

.routetext{
    font-size: 50px;
    color: rgb(0, 255, 0);
    margin: 0px;
    justify-content: left;
}

#project1{
    top: 300px;
    left: 100px;
}

#project2{
    top: 500px;
    left: 300px;
}

.project{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: purple;
}

.linecontainer{
    width: 100%;
    height: 100%;
}

.line{
    stroke-width: 3;
    stroke: rgb(0, 255, 0);
}

.searchbartitle{
    color: rgb(0, 255, 0);
    text-align: center;
    border: 2px solid rgb(0, 255, 0);
    margin: 3px;
}

.searchbarcontainer{
    padding: 5px;
    margin-right: 6px;


}

.searchbar{
    resize: none;
    width: 100%;
    border: none;
    padding: 3px;
    
}